.blog {
	position: relative;
	margin: 0 0 230px 0;
	padding: 0 0 130px 0;
	height: 367px;
	background: #000 url('../img/bg/bg_blog.png') no-repeat 30px -255px;
	&__image {
		position: absolute;
		top: -25%;
		left: 50%;
		transform: translateX(-50%);
		img {
			width: 280px;
		}
	}
	&__title {
		position: absolute;
		top: 150px;
		left: 50%;
		transform: translateX(-50%);
		color: #fff !important;
	}
	&__brands {}
}
.blog-posts {
	position: absolute;
	top: 211px;
	&__element {
		display: block;
		width: 278px;
	}
	&__image {
		margin: 0 0 13px 0;
		img {
			width: 278px;
		}
	}
	&__text {
		padding: 0 0 10px 0;
		font-size: 14px;
		line-height: 160%;
		color: #000;
	}
}
.blog-posts.owl-carousel {
	margin: 0 auto;
	width: 278px;
}
@media(min-width: 375px) {
	.blog {
		&__image {
			img {
				width: 335px;
			}
		}
	}
	.blog-posts.owl-carousel {
		width: 335px;
	}
}
@media(min-width: 768px) {
	.blog {
		&__image {
			img {
				transform: scale(1.5);
			}
		}
		background: #000 url('../img/bg/bg_blog_big.png') no-repeat 94% -195px;
	}
	.blog-posts {
		&__element {
			width: 330px;
		}
		&__image {
			img {
				width: 330px
			}
		}
	}
	.blog-posts.owl-carousel {
		width: 680px;
	}
}
@media(min-width: 1100px) {
	.blog {
		margin: 0 0 150px 0;
		padding: 0 0 600px 0;
		&__title {
			position: absolute;
			top: 365px;
		}
		&__image {
			top: -170px;
			img {
				transform: scale(1);
				width: 874px;
			}
		}
		background-position: 94% -40px;
	}
	.blog-posts {
		display: flex;
		top: 450px;
		left: 50%;
		transform: translateX(-50%);
		&__element {
			width: 278px;
			&:not(:last-child) {
				margin: 0 21px 0 0;
			}
		}
		&__image {
			img {
				width: 278px;
			}
		}
		&__text {
			font-size: 18px;
		}
	}
}
@media(min-width: 1440px) {
	.blog {
		margin: 0 0 200px 0;
		padding: 0 0 700px 0;
	}
	.blog-posts {
		display: flex;
		top: 464px;
		&__element {
			width: 427px;
		}
		&__image {
			img {
				width: 427px;
			}
		}
	}
}