.header-burger {
	transition: all 0.3s ease 0s;
	img {
		display: none;
	}
}
.header-burger.active {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 999;
	padding: 20px;
	span {
		display: none;
	}
	img {
		display: block;
	}
}
@media (min-width: 1100px) {
	.header-burger {
		display: none;
	}
}